
@{
    ViewBag.Title = "DeptCreate";
}

<h2>Create Department</h2>

<form action="" method="post">
    <input type="text" name="Name" placeholder="Department Name" class="form-control" />
    <br />
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
<br />
<a href="/Bright/DeptIndex">Back</a>
