
@{
    ViewBag.Title = "CatCreate";
}

<h2>Create new Category</h2>

<form action="" method="post">
    <label>Department</label>
    <input type="text" name="Name" placeholder="Name your department" class="form-control" />
    <br />

    <input type="submit" value="Submit" class="btn btn-primary" />
</form>
<br/>
<a href="/Shop/CatIndex">Back</a>
