
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Price:</strong> @Model.Price</p>
<p><strong>Quantity:</strong> @Model.Qty</p>

<a href="/Shop/Index">See Products</a> <br />
<a href="/Shop/Create">Create New Product</a>

