
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="/Content/Style.css" />

<div class="index">
    <h1>Index</h1>
    <h3>I am learning Adv .NET</h3>
    <div class="nav">
        <a href="/Portfolio/Education">Education  </a>
        <a href="/Portfolio/Projects">Projects  </a>
        <a href="/Portfolio/Reference">Reference  </a>
    </div> 
</div>