@{
    ViewBag.Title = "Education";
}

<link rel="stylesheet" href="/Content/Style.css" />

<div class="projects">
    <h1>Projects</h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>Project Name</th>
            <th>Programming Language</th>
            <th>Duration</th>
        </tr>
        <tr>
            <td>Project 1</td>
            <td>C#</td>
            <td>3 Months</td>
        </tr>
        <tr>
            <td>Project 2</td>
            <td>Java</td>
            <td>2 Months</td>
        </tr>
        <tr>
            <td>Project 3</td>
            <td>C++</td>
            <td>4 Months</td>
        </tr>
    </table>
    <a href="/Portfolio/Index">Back</a>
</div>