@{
    ViewBag.Title = "Projects";
}

<link rel="stylesheet" href="/Content/Style.css" />

<div class="projects">
    <h1>Projects</h1>

    <table class="table table-bordered">
        <tr>
            <th>Project Name</th>
            <th>Programming Language</th>
            <th>Duration (months)</th>
        </tr>
        
        @foreach(var item in Model)
         {
            <tr>
                <td>@item.Name</td>
                <td>@item.Language</td>
                <td>@item.Duration</td>
            </tr>
         }

    </table>
    <a href="/Portfolio/Index">Back</a>
</div>