@{
    ViewBag.Title = "Reference";
}

<link rel="stylesheet" href="/Content/Style.css" />

<div class="ref">
    <h1>References</h1>

    <ol>
        
        

    </ol>
    <a href="/Portfolio/Index">Back</a>
</div> 