@{
    ViewBag.Title = "Reference";
}

<link rel="stylesheet" href="/Content/Style.css" />

<div class="ref">
    <h1>References</h1>

    <ol>
        <li>
            <strong>Dr. John Smith</strong><br />
            Professor, Department of CSE<br />
        </li>
        <li>
            <strong>Ms. Sarah Johnson</strong><br />
            Project Manager, TechCorp<br />
        </li>
        <li>
            <strong>Mr. David Lee</strong><br />
            Senior Software Engineer, SoftDev Ltd.<br />
        </li>
    </ol>
    <a href="/Portfolio/Index">Back</a>
</div> 